/* Global styles */
* {
	box-sizing: border-box;
  }
  
  body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
  }
  .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
  }
  
  h1 {
	font-size: 3rem;
	font-weight: bold;
	color: #333;
	margin: 0;
	padding: 40px 0;
	background-size: cover;
	flex: 1;
  }
  .title {
	font-size: 3rem;
	font-weight: bold;
	color: #333;
	margin: 0;
	padding: 40px 0;
	background-size: cover;
  }
  
  .name {
	font-size: 1rem;
	font-weight: bold;
	color: #333;
	margin: 0;
  }
  .profile-picture-container {
	margin-left: 20px;
  }
  
  .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
  }

  h2 {
	font-size: 2rem;
	font-weight: 600;
	color: #333;
	margin: 20px 0;
  }
  
  p {
	margin: 10px 0;
  }
  
  ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  li {
	margin: 10px 0;
  }
  
  a {
	color: #333;
	text-decoration: none;
  }
  
  a:hover {
	text-decoration: underline;
  }
  
  /* Project styles */
  .project {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
  }
  
  .project-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0 0 10px;
  }
  
  .project-description {
	margin: 0;
  }
  
  .project-description-container {
	margin: 0 0 20px;
  }
  
  .project-steps {
	margin: 10px 0;
	padding-left: 20px;
  }
  
  /* Section styles */
  .section {
	margin: 40px 0;
  }
  
  .section-title {
	font-size: 2rem;
	font-weight: 600;
	color: #333;
	margin: 0 0 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #ccc;
  }
  
  /* Footer styles */
  footer {
	margin-top: 40px;
	padding-top: 20px;
	border-top: 2px solid #ccc;
  }
  
