/* Body Styles */
body {
	background-color: #f5f5f5;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
  }
  
  /* Container Styles */
  .container {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
  }
  
  /* Header Styles */
  header {
	text-align: center;
	margin-bottom: 50px;
  }
  
  h1 {
	font-size: 48px;
	color: #0077c2;
	margin: 0;
	padding-top: 100px;
  }
  
  h2 {
	font-size: 24px;
	color: #333;
	margin: 20px 0;
  }
  
  /* Project Styles */
  .project {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease-in-out;
  }
  
  .project:hover {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
  }
  
  .project-title {
	font-size: 24px;
	color: #0077c2;
	margin: 0 0 10px 0;
	text-align: center;
  }
  
  .project-description {
	font-size: 18px;
	line-height: 1.5;
	text-align: justify;
	max-width: 700px;
	margin: 0;
  }
  
  /* Skill Styles */
  .section {
	margin-bottom: 50px;
  }
  
  .section-title {
	font-size: 36px;
	color: #0077c2;
	margin: 0 0 20px 0;
	text-align: center;
  }
  
  ul {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  li {
	margin-bottom: 10px;
	font-size: 18px;
  }
  
  /* Link Styles */
  a {
	color: #0077c2;
	text-decoration: none;
	transition: color 0.3s ease-in-out;
  }
  
  a:hover {
	color: #005ea2;
  }
  
  /* Footer Styles */
  footer {
	text-align: center;
	margin-top: 50px;
  }
  
  footer p {
	margin: 0;
	font-size: 16px;
	color: #333;
  }
  